/* You can add global styles to this file, and also import other style files */

.bg-img {
    background-size: 100%;
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
    //background-position: center;
    background-repeat: no-repeat;
}