<main>
  <article class="badge orange">
      <div class="roundedDashboard">
          <i class="fas fa-chart-pie"></i>
          <h1>N° Fatture: {{totNumDoc}}</h1>
      </div>
  </article>
  <article class="badge green">
      <div class="roundedArticoli">
          <i class="fas fa-box"></i>
          <h1>Totale Fatture: {{totAmount}}</h1>
      </div>
  </article>
  <article class="badge blue">
      <div class="roundedClienti">
          <i class="fas fa-user"></i>
          <h1>N° fatture <br> mese corrente: {{totNumDocCurrentMonth}}</h1>
      </div>
  </article>
  <article class="badge gold">
      <div class="roundedOrdini">
          <i class="fas fa-clipboard-list"></i>
          <h1>Totale fatture <br> mese corrente: {{totAmountCurrentMonth}}</h1>
      </div>
  </article>
</main>
