.modal .modal-full-height { min-height: 2000px !important; }
#addIcon {
  position: absolute;
  top: 87px;
}
#add {
  background-color: rgb(206, 206, 206);
  color: rgb(56, 56, 56);
}
#add:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(56, 56, 56);
}
th {
  background-color: rgb(56, 56, 56);
  color: whitesmoke;

}

#right-button {
  margin-top: -4px;
  margin-bottom: -4px;
  box-shadow: none;
}
#right-button:hover {
  box-shadow: 1px 1px 3px rgb(77, 77, 77);
  color: rgb(77, 77, 77);
}
#footer-label {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  box-shadow: -1px 0px 8px rgb(163, 163, 163);
}
#icon-sort {
  cursor: pointer;
  color: rgb(143, 143, 143);
}

