<!--
<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
          <h1 class="h1-responsive font-weight-bold mt-sm-5">Gestisci meglio i dati con il nostro gestionale </h1>
          <hr class="hr-light">
          <h6 class="mb-4">passa al nuovo gestionale completamente online (per ora in beta).</h6>
          <a mdbBtn color="white" mdbWavesEffect>Registrati</a>
          <a mdbBtn color="white" [outline]="true" mdbWavesEffect>Learn more</a>
        </div>
        <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="title">
    <p>SCELTE <b>RAPIDE</b> </p>
    <hr>
</div>

<main class="wrapper">
    <article class="badge orange">
        <div class="roundedDashboard">
            <i class="fas fa-chart-pie"></i>
            <h1>DASHBOARD</h1>
        </div>
    </article>
    <article class="badge green">
        <div class="roundedArticoli">
            <i class="fas fa-box"></i>
            <h1>ARTICOLI</h1>
        </div>
    </article>
    <article class="badge blue">
        <div class="roundedClienti">
            <i class="fas fa-user"></i>
            <h1>CLIENTI</h1>
        </div>
    </article>
    <article class="badge gold">
        <div class="roundedOrdini">
            <i class="fas fa-clipboard-list"></i>
            <h1>ORDINI</h1>
        </div>
    </article>
    <article class="badge red">
        <div class="roundedFatture">
            <i class="fas fa-file-invoice"></i>
            <h1>FATTURE</h1>
        </div>
    </article>
</main>