<main>
  <div class="container">

    <div class="one">
      <!-- ROW 1 -->
      <div class="row">
        <div class="col">
          <app-squares-dashboard> </app-squares-dashboard>
        </div>
      </div>
    </div>

    <div class="two">
      <!-- ROW 2 -->
      <div class="row">
        <div class="col">
          <app-bar-chart>  </app-bar-chart>
        </div>
        <div class="col">
          <app-pie-chart>  </app-pie-chart>
        </div>
      </div>
    </div>

  </div>
</main>
